@model IEnumerable<assignment2.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
	@if (User.Identity.IsAuthenticated)
	{
		if (User.IsInRole("Admin"))
		{
			<a asp-action="Create">Create New</a>
		}
	}
			
		</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
				<span>Coach</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AllocatedCoach.Name)@**@
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@if (User.Identity.IsAuthenticated)
				{
					if (User.IsInRole("Admin"))
					{
						<a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> <span>|</span>
						<a asp-action="Details" asp-route-id="@item.EventId">Event Details</a> <span>|</span>
						<a asp-action="CoachDetails" asp-route-id="@item.AllocatedCoach.CoachId">Coach Details</a> <span>|</span>
						<a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
					}
					else if (User.IsInRole("Member"))
					{
						<a asp-action="Enrol" asp-route-id="@item.EventId">Enrol</a> <span>|</span>
						<a asp-action="CoachDetails" asp-route-id="@item.AllocatedCoach.CoachId">Coach Details</a>@**@
					}
				}
			</td>
		</tr>
}
    </tbody>
</table>
